{{ define "trainers" }}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/position.css">
  <link rel="stylesheet" href="/public/styles/table.css">
  <title>Fitness Club Admin Page</title>
</head>

<body>
<h1>Управление тренерами</h1>

<div class="forms">
  <h2>Добавление тренера</h2>
  <form action="http://localhost:8080/trainer/insert" method="post">

    <div class="singleform">
      <label>Фамилия</label>
      <br>
      <input type="text"
             name="insert_second_name"
             class="input_field"
             maxlength="50">
    </div>

    <div class="singleform">
      <label>Имя</label>
      <br>
      <input type="text"
             name="insert_name"
             class="input_field"
             maxlength="50">
    </div>

    <div class="singleform">
      <label>Отчество</label>
      <br>
      <input type="text"
             name="insert_third_name"
             class="input_field"
             maxlength="50">
    </div>

    <div class="singleform">
      <label>Телефон</label>
      <br>
      <input type="text"
             name="insert_phone"
             class="input_field"
             maxlength="20">
    </div>

    <input type="submit"
           class="submit"
           value="Добавить">

  </form>

  <h2>Удалить тренера</h2>
  <form action="http://localhost:8080/trainer/delete" method="post">

    <div class="singleform">
      <label>ID тренера:</label>
      <br>
      <input type="number"
             class="input_field"
             name="delete_id">
    </div>

    <input type="submit"
           class="submit_delete"
           value="Удалить">

  </form>
</div>

<div class="tables">
  <h2>Список тренеров</h2>
  <table class="table">
    <th>ID</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Телефон</th>

    {{ range . }}
    <tr>
      <td>{{ .TrainerID }}</td>
      <td>{{ .TrainerSecondName }}</td>
      <td>{{ .TrainerName }}</td>
      <td>{{ .TrainerThirdName }}</td>
      <td>{{ .TrainerPhone }}</td>
    </tr>
    {{ end }}
  </table>
</div>

</body>

</html>
{{end}}
