.left-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.left-menu-flex {
  width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

