.example-card {
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 16px;
}

.block {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
